<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
<p>
  <%= t ".the" %> <%= link_to t(".ror"), Settings.static_pages.rails_tut %> <%= t ".is_a" %>
  <%= link_to t(".book"), Settings.static_pages.rails_book %> <%= t ".and" %>
  <%= link_to t(".screencast_series"), Settings.static_pages.screencasts %>
  <%= t ".to_teach" %>
  <%= link_to t(".ror"), Settings.static_pages.rails_tut %>
  <%= t ".description" %>
</p>
