<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
  <%= t ".get_help" %>
  <%= link_to t(".rails_tutorial"), Settings.static_pages.rails_help %>
  <%= t ".get_help_sample_app" %>
  <%= link_to t(".ror_book"), Settings.static_pages.rails_book %>
</p>
