<% provide :title, t(".help_title") %>
<h1><%= t ".help" %></h1>
  <%= t ".get_help_on" %>
  <%= link_to t(".rail_tutorial"), Settings.static_pages.rails_help %>
  <%= t ".get_help_sample_app" %>
  <%= link_to t(".ruby_on_book"), Settings.static_pages.rails_book %>
</p>
