<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ror_tut"), Settings.layouts.rails_tut %>
    <%= t ".by" %> <%= link_to t(".author"), Settings.layouts.michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), Settings.layouts.news %></li>
    </ul>
  </nav>
</footer>
